.Rproj.user
.Rhistory
.RData
.Ruserdata
progress-28-Sep.pptx
LassaX/data/inputs_list*
res
LassaX/data_chik/worldpop_2015
LassaX/data_chik/worldpop_2016
LassaX/data_chik/curve_fitting
LassaX/data_chik/pred_figs
LassaX/data_chik/df_burden_with_pop_size_2016.csv
LassaX/data_chik/2015_p_spillover.pdf
LassaX/data_chik/world_bank_pop
LassaX/data_chik/worldpop_failed_packages.R
LassaX/chik_res
LassaX/interim_outputs

# mobility data
LassaX/data_chik/mobility/*.pdf
LassaX/data_chik/mobility/*.csv


# case_data 
case_data/*.pdf
case_data/*.csv
case_data/*.RData
case_data/*.xlsx
case_data/*.jpg
case_data/*.png
case_data/Chikungunya*

# suitability map 
LassaX/2016_chikv_suitability.tif


# chikX data 
chikX/preprocessing
chikX/handover_docs

# chikX reuslts and plots
chikX/diagnostics_2/
chikX/diagnostics_new/
chikX/diagnostics_new_3/
chikX/diagnostics_old_shapes_no_zeros/
