# some processing files either too large or irrelevant
preprocessing/data/2015_UNadj_worlpop_data/*
preprocessing/PAHO_curve_fitting/curves_man_adj
preprocessing/mobility_and_p_spillover/2015_*
preprocessing/mobility_and_p_spillover/eda.R

# some dirs and files to ignore for now 
figs
.Rproj.user
.lintr
handover_and_TODO.pptx
methods
test
res

# data files too large to include
data/gadm
data/gadm_merged_shp
data/sf_region_summary_merged_with_warnings
data/2020_UNadj_worldpop_data
preprocessing/misc.R
preprocessing/suitability/misc.R


